.App {
  text-align: center;
  margin: 0 40px 40px;
}
body {
  background-color: rgb(247, 241, 239);
}
h1 {
  font-family: "Gallient";
  font-size: 70px;
  /* font-family: "Gravitas One", cursive; */
  padding: 60px 0 30px;

  line-height: 45px;
}
.book {
  font-size: 40px;
  margin-top: 40px;
}
@font-face {
  font-family: "Gallient";
  src: local("Gallient"), url("./fonts/Gallient.ttf") format("truetype");
}
