.search-box {
  margin-top: 30px;
}

h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 900;
}
h5 {
  margin: 0;
}

.Dictonary .type-box {
  border-color: rgb(250, 247, 250);
  border-radius: 6px;
  padding: 4px;
  text-align: center;
  font-weight: 600;
}




