section {
  background-color: white;
  border-radius: 8px;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  /* margin: 10px 5px; */
  padding: 15px;
  min-height: max-content;
}
.title-meaning {
  margin-bottom: 5px;
}
.Meaning h4 {
  font-size: 16px;
  font-style: italic;
  margin-top: 15px;
}

.title-synonym {
  font-weight: 700;
  font-size: 18px;
}
.title-definition {
  font-weight: 700;
  font-size: 18px;
  margin-top: 20px;
}
.Meaning .list {
  font-size: 16px;
  list-style: none;
  padding: 0;
  margin: 0px;
}
/* .box {
  min-height: max-content;

  background-color: white;
  border-radius: 8px;
} */
