Meaning,
section {
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 20px 30px;
  padding: 15px;
}
.meaning {
  margin-top: 25px;
}

.Meaning, h4{
    font-size:16px;
    opacity:70%;
    font-style: italic;
    margin-top: 10px;
}