.display-image {
  /* vertical-align: 10px; */
  max-width: 100%;
  padding: 1px;
}
.Photos {
  min-height: max-content;
  height: fit-content;
}
.Photos {
  line-height: 0;
  -webkit-column-count: 2; /* split it into 5 columns */
  -webkit-column-gap: 1px; /* give it a 5px gap between columns */
  -moz-column-count: 2;
  -moz-column-gap: 1px;
  column-count: 2;
  column-gap: 1px;
}
.Photos img {
  width: 100% !important;
  height: auto !important;
  margin-bottom: 1px; 
}